{{#each variables}}
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{@index}}">
            <button class="accordion-button {{#if @index}}collapsed{{/if}}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{@index}}" aria-expanded="true" aria-controls="collapse{{@index}}">{{@key}}</button>
        </h2>
        <div id="collapse{{@index}}" class="accordion-collapse collapse {{#unless @index}}show{{/unless}}" aria-labelledby="heading{{@index}}" data-bs-parent="#accordionContent">
            <div class="accordion-body">
                <table class="table">
                    <tbody>
                        {{#each this}}
                            <tr>
                                <td>
                                    <strong>{{this.title}}</strong>
                                    {{#if this.question}}
                                        <br />
                                        <small>{{this.question}}</small>
                                    {{/if}}
                                </td>
                                <td>
                                    {{this.answer}}
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{{/each}}

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading_link_full_report">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_link_full_report" aria-expanded="true" aria-controls="collapse_link_full_report">5. Link to Full Report</button>
        </h2>
        <div id="collapse_link_full_report" class="accordion-collapse collapse show}" aria-labelledby="heading_link_full_report" data-bs-parent="#accordionContent">
            <div class="accordion-body">
                {{#if url}}
                <a href="{{url}}" class="btn btn-outline-primary m-3" target="_blank" rel="noopener noreferrer">Click here to access the complete country report.</a>
                {{else}}
                The complete report is pending publication.
                {{/if}}
            </div>
        </div>
    </div>

